<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="mysql" connectionString="server=localhost;user=root;database=control_entrada_salida;port=3306;password=1234"
      providerName="" />

  </connectionStrings>
</configuration>
